<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"  >
<head>
  <title>User Interface</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" th:href="@{/css/UI.css}"/>


  <style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>

</head>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <span class="w3-bar-item w3-left">Computer Aided Engineer </span>
  <div>
    <a th:href="@{/logout}" class="logout w3-button">Logout</a>
  </div>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:200px;" id="mySidebar"><br>

  <div class="w3-col s8 w3-bar" >
    <span>Welcome, <strong th:text="${user.userFirstName}">USER</strong></span><br>
  </div>

  <hr>
  <div class="w3-container side-menu w3-gray">
    <h5>Side Menu</h5>
  </div>
  <div class="w3-bar-block">

    <a th:href="@{/user/}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-exclamation-circle"></i>New Requests</a>
    <a th:href="@{myRequests}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-database"></i>My Requests</a>
    <a th:href="@{Statistics}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bar-chart-o"></i>Projects Overview</a>
    <a th:href="@{ProjectTasks}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users"></i></i>Projects Tasks</a>

  </div>


</nav>



<!-- !PAGE CONTENT! -->
<div class="w3-main " style="margin-left:200px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5 th:text="${user.team}+'  '+'Dashboard'"><b><i class="fa fa-dashboard"></i>User Dashboard</b></h5>
  </header>

  <div class="w3-bar">

    <a   th:href="@{createProject}">
      <button   class="w3-bar-item w3-button w3-amber w3-padding-16" style="width:25%">
        <div class="w3-left"><i class="fa fa-exclamation-circle w3-xxxlarge"></i></div>
        <!--        <div class="w3-right">-->
        <!--          <h4 th:text="${noOfRequests}">CFD</h4>-->
        <!--        </div>-->


        <h4>Create Project</h4>
      </button>
    </a>


    <a th:href="@{myRequests}">
      <button class="w3-bar-item w3-button  w3-teal  w3-padding-16" style="width:25%" >
        <div class="w3-left"><i class="fa fa-database w3-xxxlarge"></i></div>

        <h4>My Requests</h4>
      </button>
    </a>

    <a th:href="@{Statistics}">
      <button class="w3-bar-item w3-button w3-blue w3-padding-16" style="width:25%">
        <div class="w3-left"><i class="fa fa-bar-chart-o w3-xxxlarge"></i></div>
        <!--      <div class="w3-right">-->
        <!--        <h4 th:text="${projects.size}">Statistics</h4>-->
        <!--      </div>-->

        <h4>Projects Overview</h4>
      </button>
    </a>

    <a th:href="@{ProjectTasks}">
      <button class="w3-bar-item w3-button w3-orange w3-padding-16" style="width:25%">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <!--      <div class="w3-right">-->
        <!--        <h4 th:text="${noOfProjectsTasks}">number of tasks</h4>-->
        <!--      </div>-->
        <h4>Projects Tasks</h4>
      </button>
    </a>

  </div>

  <div class="w3-panel">

    <div class="w3-twothird">
      <h5 > </h5>
      <!-- !!!!!!!!!!!!!!! display all the requests that need user evaluation-->
      <table  th:if="${displayRequests == true}"   class="w3-table w3-striped w3-white  w3-border" >
        <thead  >
        <tr>
          <th class="w3-border w3-center" scope="col">#</th>
          <th class="w3-border w3-center" scope="col">Request Name</th>
          <th class="w3-border w3-center" scope="col">index</th>
          <th class="w3-border w3-center" scope="col">Project</th>
          <th class="w3-border w3-center" scope="col">Owner</th>
          <th class=" w3-center" scope="col">Description</th>
        </tr>
        </thead>
        <tbody >
        <tr th:each="request, iter:${requests}" class="w3-border w3-center" >
          <th scope="row" th:text="${iter.index} + 1" <i class="fa fa-bookmark w3-text-blue w3-large w3-center "></i> >1 </th>
          <td class="w3-border w3-center" th:text="${request.requestName}" ></td>
          <td class="w3-border w3-center" th:text="${request.index}" ></td>
          <td class="w3-border w3-center" th:text="${request.project}" ></td>
          <td class="w3-border w3-center" th:text="${request.owner}" ></td>
          <td class=" w3-left" th:text="${request.text}" ></td>
          <td >

            <a th:unless="${request.owner == 'user'}"  id="evaluate"  class="btn btn-outline-primary w3-button w3-border " th:href="@{/user/evaluate/{id}(id=${request.requestId})}">evaluate</a>
            <!--              <a th:if="${request.owner == 'user'}" id="update" class="btn btn-outline-primary" th:href="@{/user/update/{name}(name=${request.requestName})}">update</a>-->

          </td>
        </tr>
        </tbody>
      </table>


      <!-- !!!!!!!!!!!!!!! display all the requests logged user own-->

      <table  th:if="${displayMyRequests == true}"   class="w3-table w3-striped w3-white  w3-border" >
        <thead  >
        <tr>
          <th class="w3-border w3-center" scope="col">#</th>
          <th class="w3-border w3-center" scope="col">Request Name</th>
          <th class="w3-border w3-center" scope="col">Project</th>
          <th class="w3-border w3-center" scope="col">index</th>
          <th class=" w3-center" scope="col">Description</th>
        </tr>
        </thead>
        <tbody >
        <tr th:each="request, iter:${myRequests}" class="w3-border w3-center" >
          <th scope="row" th:text="${iter.index} + 1" <i class="fa fa-bookmark w3-text-blue w3-large w3-center "></i> >1 </th>
          <td class="w3-border w3-center" th:text="${request.requestName}" ></td>
          <td class="w3-border w3-center" th:text="${request.project}" ></td>
          <td class="w3-border w3-center" th:text="${request.index}" ></td>
          <td class=" w3-left" th:text="${request.text}" ></td>
          <td >

            <!--              <a th:unless="${request.owner == 'user'}"  id="evaluate"  class="btn btn-outline-primary w3-button w3-border " th:href="@{/user/evaluate/{id}(id=${request.requestId})}">evaluate</a>-->
            <a  id="update" class="btn btn-outline-primary w3-button w3-border" th:href="@{/user/update/{name}(name=${request.requestName})}">update</a>

          </td>
        </tr>
        </tbody>
      </table>


      <!-- display table with some project statistics-->

      <table  th:if="${displayStatistics == true}"   class="w3-table w3-striped w3-white  w3-border" >
        <thead  >
        <tr>
          <th class="w3-border w3-center" scope="col">#</th>
          <th class="w3-border w3-center" scope="col">Project Name</th>
          <th class="w3-border w3-center" scope="col"> Total No.requests</th>
          <!--            <th class="w3-border w3-center" scope="col">Project tasks</th>-->
        </tr>
        </thead>
        <tbody >
        <tr th:each="project, iter:${projects}" class="w3-border w3-center" >
          <th scope="row" th:text="${iter.index} + 1" <i class="fa fa-bookmark w3-text-blue w3-large w3-center "></i> >1 </th>
          <td class="w3-border w3-center" th:text="${project.projectName}" ></td>
          <td class="w3-border w3-center" th:text="${project.projectRequestsList.size}" ></td>
          <!--            <td class="w3-border w3-center" th:text="${noOfProjects}" ></td>-->

        </tr>
        </tbody>
      </table>

    </div>

    <!-- display project tasks-->

    <table  th:if="${displayProjectTasks == true}"   class="w3-table w3-striped w3-white  w3-border" >
      <thead  >
      <tr>
        <th class="w3-border w3-center" scope="col">#</th>
        <th class="w3-border w3-center" scope="col">Project Name</th>
        <th class="w3-border w3-center" scope="col"> Request name</th>
        <th class="w3-border w3-center" scope="col">Start Date</th>
        <th class="w3-border w3-center" scope="col">Deadline</th>
      </tr>
      </thead>
      <tbody >
      <tr th:each="project , iter:${projectsTasks}" class="w3-border w3-center" >
        <th scope="row" th:text="${iter.index} + 1" <i class="fa fa-bookmark w3-text-blue w3-large w3-center "></i>  </th>
        <td class="w3-border w3-center" th:text="${project}" ></td>
        <td class="w3-border w3-center" th:text="${project.projectTaskName}" ></td>
        <td class="w3-border w3-center" th:text="${project.startDate}" ></td>
        <td class="w3-border w3-center" th:text="${project.deadline}" ></td>
        <td >

          <a  id="delete" class="btn btn-outline-primary w3-button w3-border" th:href="@{/caeLead/ProjectTasks/{id} (id=${project.requestId})}">Done</a>

        </td>

      </tr>
      </tbody>
    </table>



  </div>



</div>



<!-- Footer -->
<footer class=" w3-container w3-padding-16 w3-light-grey">

  <div class="newRequest w3-hover-border-light-green " >
    <a  th:if="${displayRequests == true}" th:href="@{add}" class="w3-button new-Request w3-bar-item w3-button .w3-green w3-padding-16 ">insert new proposal</a>
  </div>
  <h4></h4>
  <p></p>
</footer>

<!-- End page content -->
</div>





</body>
</html>


