<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Evaluate</title>
</head>


<body>
<h1> Evaluate </h1>
<form method="post" th:action="@{/user/evaluate}">

    <select  name="responseType" class="form-control" id="dropDownList">
        <option th:each="responseType :${responseType}" th:value="${responseType}" th:text="${responseType}" ></option>
    </select>

<!--  <input type="text" name="response_type" placeholder="response_type">-->
    <input type="text" name="response_comment" placeholder="response_comment">
    <input type="hidden" th:value="${request.requestId}" name="request_id">

  <input type="submit" value="Add response">
</form>
</body>


</html>