<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Simple Login Form Example</title>
  <link rel="stylesheet"  href="signin.css">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="application-form">
  <h1>Welcome to Computer-Aided Engineering Team Comunication Application</h1>
</div>
<div class="login-form">
  <form>
    <h1>Login</h1>
    <div class="content">
      <div class="input-field">
        <input type="email" placeholder="Email" autocomplete="nope">
      </div>
      <div class="input-field">
        <input type="password" placeholder="Password" autocomplete="new-password">
      </div>
<!--      <a href="#" class="link">Forgot Your Password?</a>-->
    </div>
    <div class="action">
<!--      <button>Register</button>-->
      <button>Sign in</button>
    </div>
  </form>
</div>
  <div style="text-align: center;">
  <img src="https://www.thermoanalytics.com/sites/default/files/styles/site_max/public/2020-02/transient-thermal-simulation-of-sedan_3.png?itok=_fn7MgWC" alt="cfd_photo" align="center" />
  </div>
</body>
</html>