<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"  >
<head>
  <title>W3.CSS Template</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" th:href="@{/css/UI.css}"/>


  <style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>

</head>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <span class="w3-bar-item w3-left">Computer Aided Engineer Communication Loop</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">

    <div class="w3-col s8 w3-bar">
      <span>Welcome, <strong>USER</strong></span><br>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Project Team</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  Lead Requests</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  V&V</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i></i>  Mechanical</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  CFD</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i></i>  NVH</a>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i>User Dashboard</b></h5>
  </header>

  <div class="w3-bar">

    <form action="#" th:action="@{add}">
      <button class="w3-bar-item w3-button w3-amber w3-padding-16" style="width:25%">
        <div class="w3-left"><i class="fa fa-exclamation-circle w3-xxxlarge"></i></div>

  <!--      <div class="w3-right">-->
  <!--        <h3>CFD</h3>-->
  <!--      </div>-->

        <div class="w3-clear"></div>
        <h4>New Requests</h4>
      </button>
    </form>

    <button class="w3-bar-item w3-button w3-blue w3-padding-16" style="width:25%">
      <div class="w3-left"><i class="fa fa-database w3-xxxlarge"></i></div>
<!--      <div class="w3-right">-->
<!--        <h3>Total number of my requests</h3>-->
<!--      </div>-->
      <div class="w3-clear"></div>
      <h4>My Requests</h4>
    </button>



    <button class="w3-bar-item w3-button w3-teal w3-padding-16" style="width:25%">
      <div class="w3-left"><i class="fa fa-bar-chart-o w3-xxxlarge"></i></div>
<!--      <div class="w3-right">-->
<!--        <h3>Statistics</h3>-->
<!--      </div>-->
      <div class="w3-clear"></div>
      <h4>Projects Overview</h4>
    </button>

    <button class="w3-bar-item w3-button w3-orange w3-padding-16" style="width:25%">
      <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
<!--      <div class="w3-right">-->
<!--        <h3>number of simulation that need to be deployed</h3>-->
<!--      </div>-->
      <div class="w3-clear"></div>
      <h4>Simulations Deployed</h4>
    </button>

  </div>

  <div class="w3-panel">

      <div class="w3-twothird">
        <h5> </h5>

        <table class="w3-table w3-striped w3-white" >
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Request Name</th>
            <th scope="col">Description</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="request, iter:${requests}"  >
            <th scope="row" th:text="${iter.index} + 1" <i class="fa fa-bookmark w3-text-blue w3-large"></i> >1 </th>
            <td th:text="${request.requestName}"></td>
            <td th:text="${request.text}" ></td>
            <td>
              <form action="#" th:action="@{/requests/evaluate}">
                <button type="submit">evaluate</button>
              </form>

            </td>
          </tr>
          </tbody>
        </table>

    </div>

  </div>
  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
    <h4></h4>
    <p></p>
  </footer>

  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
